.areas-list-block .places-list {
  padding: 10px;
}
.areas-list-block .places-list .title {
  width: 100%;
  float: left;
  text-transform: uppercase;
  color: #373737;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.areas-list-block .places-list .add-btn {
  padding: 5px;
  display: block;
  border-radius: 4px;
  float: left;
  border: 1px solid gray;
  color: #818181;
  cursor: pointer;
}
.areas-list-block .places-list .add-btn span {
  margin-right: 5px;
}
.areas-list-block .places-list .list-group {
  margin-top: 10px;
  width: 100%;
  float: left;
  border-radius: 0;
}
.areas-list-block .places-list .list-group .list-group-item {
background-color: #F9F9F9;
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  z-index: 0;
}
.areas-list-block .places-list .list-group .list-group-item .remove,
.areas-list-block .places-list .list-group .list-group-item .edit {
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  z-index: 999;
  display: table;
}
.areas-list-block .places-list .list-group .list-group-item .remove i,
.areas-list-block .places-list .list-group .list-group-item .edit i {
  color: #fff;
  font-size: 1.3rem;
  display: table-cell;
  vertical-align: middle;
  margin-right: 5px;
}
.areas-list-block .places-list .list-group .list-group-item .remove {
  top: -13px;
  right: 5px;
}
.areas-list-block .places-list .list-group .list-group-item .edit {
  top: -13px;
  right: 35px;
}
.areas-list-block .places-list .list-group .list-group-item .area-info {
  overflow: hidden;
  position: relative;
  float: left;
}
.areas-list-block .places-list .list-group .list-group-item .area-info > i {
  color: #F0C10E;
  float: left;
  margin-right: 10px;
}

.areas-list-block .places-list .list-group .list-group-item .area-info ul li strong{
  padding-right:5px;
}


.areas-list-block .places-list .list-group .list-group-item .area-info ul {
  float: left;
  color: #909090;
}
.areas-list-block .places-list .list-group .list-group-item .area-info ul li:first-child {
  font-size: 1.3rem;
  color: #000;
}
