.indicators-list {
    height: 45%;
    width: 100%;
    float: left;
    overflow: hidden;
    border-top: 1px solid lightgray;
    .progress {
        height: 10px;
        border-radius: 0px;
        background-color: #FFF;
        box-shadow: none;
        margin: 0;
    }
    >ul {
        height: 100%;
        li {
            //padding: 7px;
            width: 100%;
            overflow: hidden;
            i {
                margin-right: 10px;
                color: #777;
            }
            #analyse {
                display: none;
            }
            #filter {
                > ul {
                    padding-left: 15px;
                    > li {
                        font-size: 1.2rem;
                        font-weight: bold;
                        display: table;
                        padding: 5px 0;
                        input {
                            display: table-cell;
                            vertical-align: middle;
                            margin: 0 5px 0 0;
                        }
                        ul {
                            padding-left: 15px;
                            li {
                                font-weight: 400;
                                padding: 2px 0;
                            }
                        }
                    }
                }
            }
            span {
                text-indent: 5px;
                font-weight: bold;
            }
        }
    }
    .analyse {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 5px;
        tr {
            td {
                font-size: 1.3rem;
                line-height: 1.3rem;
            }
        }
        thead tr,
        tbody tr {
            td:nth-child(2),
            td:nth-child(3) {
                text-align: center;
            }
        }
        thead {
            tr {
                td {
                    color: gray;
                }
            }
        }
        tbody {
            tr {
                td {
                    width: 25%;
                    padding: 3px 0;
                    .progress {
                        padding: 0 10px;
                    }
                }
                td:nth-child(4) {
                    border-top: 0;
                    width: 50px;
                    vertical-align: middle;
                    padding: 0 5px;
                    align: center;
                }
            }
            tr:last-child {
                td {
                    border-bottom: 1px solid #ddd;
                }
                td:nth-child(4) {
                    border-bottom: 0;
                }
            }
        }
    }
    .conclusion {
        width: 100%;
        float: left;
        overflow: hidden;
        .title {
            margin: 5px 0;
            span {
                font-size: 1.6rem;
                color: lightgreen;
            }
        }
        .detail-description-btns {
            padding: 10px 0;
            width: 100%;
            float: left;
            overflow: hidden;
            button {
                height: 25px;
                float: left;
                border-radius: 3px;
            }
            #detail-description-btn {
                background-color: #3185FF;
                margin-right: 10px;
                color: #fff;
                i {
                    color: #fff;
                }
            }
            #recomendation-btn {
                background-color: #FFF;
                border: 1px solid lightgray;
                color: #000;
                i {
                    color: #000;
                }
            }
        }
    }
}
