@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(../../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
/* line 8, ../../sass/site/site.scss */
html, body {
  height: 100%;
}

/* line 12, ../../sass/site/site.scss */
html {
  font-size: 62.5%;
}

/* line 14, ../../sass/site/site.scss */
body {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

/* line 20, ../../sass/site/site.scss */
button {
  border: 0;
  outline: none;
}

/* line 25, ../../sass/site/site.scss */
a {
  color: black;
}

/* line 29, ../../sass/site/site.scss */
a:hover, a:visited {
  text-decoration: none;
  color: black;
}

/* line 34, ../../sass/site/site.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 40, ../../sass/site/site.scss */
.site-content {
  margin: 6rem 0 0 0;
  overflow: hidden;
  width: 100%;
}

/* line 47, ../../sass/site/site.scss */
.modal-body {
  height: 100%;
}
