/* line 5, ../../sass/site/site.scss */
html, body {
  height: 100%;
}

/* line 9, ../../sass/site/site.scss */
html {
  font-size: 62.5%;
}

/* line 11, ../../sass/site/site.scss */
body {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

/* line 17, ../../sass/site/site.scss */
button {
  border: 0;
  outline: none;
}

/* line 22, ../../sass/site/site.scss */
a {
  color: black;
}

/* line 26, ../../sass/site/site.scss */
a:hover, a:visited {
  text-decoration: none;
  color: black;
}

/* line 31, ../../sass/site/site.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 37, ../../sass/site/site.scss */
.site-content {
  margin: 6rem 0 0 0;
  overflow: hidden;
  width: 100%;
}

/* line 44, ../../sass/site/site.scss */
.modal-body {
  height: 100%;
}
