doctype
html
  head
    title Index
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css" href="../node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="../css/libs/jquery.mCustomScrollbar.min.css")
    script(src="../node_modules/jquery/dist/jquery.js")
    script(src="../js/jquery.mCustomScrollbar.concat.min.js")
    script(src="../js/index.js")
    link(rel="stylesheet", href="../css/site/site.css")
    link(rel="stylesheet", href="../css/pages/index.css")
  body
    div.container-fluid
      div.row
        aside.search-container
          div.input-place
            .form-group
              input(type="text",class="form-control",id="usr")
          div.city-info
            span Рівне
            span Рівненська область
          div.search-category
            ul
              li
                a(class="active.suitability")
                  div
                    i(class="fa fa-leaf fa-2x")
                    span Придатність до органіки
              li
                a(class=".help-info")
                  div
                    i(class="fa fa-question-circle-o fa-2x")
                    span Довідкова інформація
              li
                a
                  div
                    i(class="fa fa-suitcase fa-2x")
                    span Економічна ефктивність
          div.indicators-list
            ul
              div(class="modal-body", id="suitability")
                li
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Аналіз показників
                  div.content#analyse
                    table(class="table analyse")
                      thead
                        tr
                          td Показник
                          td Значення
                          td Од. виміру
                          td
                      tbody
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                    div.conclusion
                      div.title Придатність до органічного виробництва - 
                        span 78%
                      div.progress
                        div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 60%;")
                          span(class="sr-only") 60% Complete
                      div.detail-description-btns
                        button#detail-description-btn
                          i(class="fa fa-clipboard", aria-hidden="true") Детальний звіт
                        button#recomendation-btn
                          i(class="fa fa-clipboard", aria-hidden="true") Рекомендації
                li
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Фільтр по показниках
                  div.content#filter
                    ul
                      li Картографічні матеріали
                        ul
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                            
                      li Поверхневі та підземні води
                        ul
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                      li Основні агрохімічні показники
                        ul
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                      li Мікроелементи
                        ul
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                          li 
                            input(type="checkbox") 
                            | Адміністративна карта
                li
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Введення показників
                  div.content#input
                    table(class="table analyse")
                      thead
                        tr
                          td Показник
                          td Значення
                          td Од. виміру
                          td
                      tbody
                        tr
                          td pH грунту
                          td 
                            input(type="number")
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                        
                        tr
                          td pH грунту
                          td 5.1
                          td Од. pH
                          td 
                            div(class="progress")
                              div(class="progress-bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 80%;")
                                span(class="sr-only") 60% Complete
                li 
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Легенда
                  div.content#legend
                    ul
                      li 
                        i(class="fa fa-angle-right", aria-hidden="true") 
                        i Реакція грунтового розчину
                        div.content
                          table.table
                            tr
                              td
                                .indicator(style="background-color:#C8FEC5")
                              td 
                                i близькі до нейтральних
                              td 
                                strong 5,6 - 6,0 (pHсол.)
                            tr
                              td 
                                .indicator(style="background-color:#80CD7F")
                              td 
                                i нейтральні
                              td
                                strong 6,1 - 7,0 (pHсол.)
                            tr
                              td 
                                .indicator(style="background-color:#89FBFB")
                              td 
                                i слаболужні
                              td 
                                strong 7,1 - 7,5 (pHсол.)
                            tr
                              td 
                                .indicator(style="background-color:#807DFD")
                              td 
                                i середньолужні
                              td 
                                strong 7,6 - 8,0 (pHсол.)
                      li 
                        i(class="fa fa-angle-right", aria-hidden="true") 
                        i Вміст рухомого фосфору
                        div.content
                          table.table
                            tr
                              td
                                .indicator(style="background-color:#D43733")
                              td 
                                i дуже низький
                              td 
                                strong &lt; 26 (мг/кг)
                            tr
                              td
                                .indicator(style="background-color:#E4C58C")
                              td 
                                i низький
                              td 
                                strong 26-50 (мг/кг)
                            tr
                              td
                                .indicator(style="background-color:#FDFD7A")
                              td 
                                i середній
                              td 
                                strong 51-100 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#73FC70")
                              td 
                                i підвищений
                              td 
                                strong 101-150 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#8EFCFD")
                              td
                                i високий
                              td 
                                strong 151-250 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#A8A9C8")
                              td
                                i дуже високий
                              td 
                                strong &gt; 250 (мг/кг)
                      li 
                        i(class="fa fa-angle-right", aria-hidden="true") 
                        i Групування за кислотністю
                        div.content
                          table.table
                            tr
                              td
                                .indicator(style="background-color:#CF2824")
                              td 
                                i дуже сильнокислі
                              td 
                                strong &lt; 4,1 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#E0AACA")
                              td 
                                i сильнокислі
                              td 
                                strong 4,1-4,5 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#EAD092")
                              td 
                                i середньокислі
                              td 
                                strong 4,6-5,0 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#F5F67C")
                              td 
                                i слабокислі
                              td 
                                strong 5,1-5,5 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#B2F1B0")
                              td 
                                i близькі до нейтральних
                              td 
                                strong 5,6-6,0 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#79B877")
                              td 
                                i нейтральні
                              td 
                                strong 6,1-7,0 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#7DE8E8")
                              td 
                                i слаболужні
                              td 
                                strong 7,1-7,5 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#8B8ACC")
                              td 
                                i середньолужні
                              td 
                                strong 7,6-8,0 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#D8B7D9")
                              td 
                                i сильнолужні
                              td 
                                strong 8,1-8,5 (pHксI)
                            tr
                              td
                                .indicator(style="background-color:#CDB789")
                              td 
                                i дуже сильнолужні
                              td 
                                strong &gt; 8,5 (pHксI)
                      li 
                        i(class="fa fa-angle-right", aria-hidden="true") 
                        i Вміст лужногідролізованого азоту(N)
                        div.content
                          table.table
                            tr
                              td
                                .indicator(style="background-color:#D78E8D")
                              td 
                                i дуже низький
                              td 
                                strong &lt; 101 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#F6F67C")
                              td 
                                i низький
                              td
                                strong 101-150 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#F6F67C")
                              td 
                                i середній
                              td 
                                strong 151 - 200 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#53A551")
                              td 
                                i підвищений
                              td 
                                strong &gt; 200 (мг/кг)
                      li 
                        i(class="fa fa-angle-right", aria-hidden="true") 
                        i Вміст обмінного калію(K)
                        div.content
                          table.table
                            tr
                              td
                                .indicator(style="background-color:#FECD98")
                              td 
                                i низький
                              td 
                                strong 41-80 (мг/кг)
                            tr
                              td 
                                .indicator(style="background-color:#FEFE6D")
                              td 
                                i середній
                              td
                                strong 81-120 (мг/кг)
                li 
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Ділянки
                  div.content#fields.areas-list-block
                    div.places-list
                        a.add-btn
                          span +
                          | Додати
                        ul.list-group
                          li.list-group-item
                            a.remove
                              i.fa.fa-times
                            a.edit
                              i.fa.fa-pencil
                            div.area-info
                              i.fa.fa-map-marker.fa-2x
                              ul
                                li Zone 1
                                li
                                  i.fa.fa-user 
                                  strong admin@gmail.com
                                  i.fa.fa-calendar 
                                  strong 22/11/2016
                          li.list-group-item
                            a.remove
                              i.fa.fa-times
                            a.edit
                              i.fa.fa-pencil
                            div.area-info
                              i.fa.fa-map-marker.fa-2x
                              ul
                                li Zone 1
                                li
                                  i.fa.fa-user 
                                  strong admin@gmail.com
                                  i.fa.fa-calendar 
                                  strong 22/11/2016     
                          li.list-group-item
                            a.remove
                              i.fa.fa-times
                            a.edit
                              i.fa.fa-pencil
                            div.area-info
                              i.fa.fa-map-marker.fa-2x
                              ul
                                li Zone 1
                                li
                                  i.fa.fa-user 
                                  strong admin@gmail.com
                                  i.fa.fa-calendar 
                                  strong 22/11/2016
                          li.list-group-item
                            a.remove
                              i.fa.fa-times
                            a.edit
                              i.fa.fa-pencil
                            div.area-info
                              i.fa.fa-map-marker.fa-2x
                              ul
                                li Zone 1
                                li
                                  i.fa.fa-user 
                                  strong admin@gmail.com
                                  i.fa.fa-calendar 
                                  strong 22/11/2016     
              div(class="modal-body", id="help-info")
                li
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Технологія
                  div.content
                li
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Сертифікація
                  div.content
                li
                  i(class="fa fa-angle-right", aria-hidden="true") 
                  span Переробка
                  div.content
                
          footer.site-footer
              nav.site-nav
                ul
                  li
                    a(href="#") Технологія
                  li
                    a(href="#") Сертифікація
                  li
                    a(href="#") Переробка
              footer
                i(class="fa fa-copyright", aria-hidden="true") 2016 OrganicPortal - геоінформаційний портал органічного землеробства
    

                            
 




