/* line 1, ../../sass/Pages/index/partials/_input-place.scss */
.input-place {
  height: 25%;
  float: left;
  width: 100%;
  overflow: hidden;
  background-image: url(../../img/top.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}
/* line 10, ../../sass/Pages/index/partials/_input-place.scss */
.input-place .form-group {
  margin: 20px auto;
  width: 80%;
}
/* line 14, ../../sass/Pages/index/partials/_input-place.scss */
.input-place input {
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* line 22, ../../sass/Pages/index/partials/_input-place.scss */
.city-info {
  height: 7%;
  float: left;
  width: 100%;
  background-color: #3185FF;
}
/* line 27, ../../sass/Pages/index/partials/_input-place.scss */
.city-info span {
  padding: 5px 10px;
  color: white;
  width: 100%;
  display: block;
}
/* line 33, ../../sass/Pages/index/partials/_input-place.scss */
.city-info span:first-child {
  font-size: 1.6rem;
}
/* line 36, ../../sass/Pages/index/partials/_input-place.scss */
.city-info span:last-child {
  font-size: 1.2rem;
}

/* line 1, ../../sass/Pages/index/partials/_search-category.scss */
.search-category {
  width: 100%;
  float: left;
  height: 13%;
  display: table;
}
/* line 6, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
/* line 11, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li {
  height: 100%;
  display: inline;
}
/* line 14, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li a {
  display: table;
  height: 100%;
  width: 33.33%;
  float: left;
  text-align: center;
  border-right: 1px solid lightgray;
}
/* line 21, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li a i {
  width: 100%;
  margin: 10px 0;
}
/* line 25, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li a span {
  width: 100%;
  font-weight: 500;
}
/* line 30, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li a.active {
  background-color: #E3E9CF;
}
/* line 33, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li div {
  display: table-cell;
  vertical-align: middle;
}
/* line 40, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li:nth-child(1) div > i {
  color: #4DA916;
}
/* line 45, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li:nth-child(2) div > i {
  color: #CC3637;
}
/* line 50, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li:nth-child(3) div > i {
  color: #3185FF;
}
/* line 55, ../../sass/Pages/index/partials/_search-category.scss */
.search-category ul li:last-child a {
  border: 0;
}

/* line 1, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list {
  height: 45%;
  width: 100%;
  float: left;
  overflow: hidden;
  border-top: 1px solid lightgray;
}
/* line 7, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .progress {
  height: 10px;
  border-radius: 0px;
  background-color: #FFF;
  box-shadow: none;
  margin: 0;
}
/* line 14, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .content {
  display: none;
}
/* line 17, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul {
  height: 100%;
}
/* line 19, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li {
  width: 100%;
}
/* line 23, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li > i {
  margin-right: 10px;
  color: #777;
}
/* line 27, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li > span {
  cursor: pointer;
  font-size: 1.6rem;
}
/* line 32, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #analyse {
  display: none;
}
/* line 35, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #input {
  display: none;
}
/* line 38, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #legend {
  padding-left: 10px;
}
/* line 40, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #legend table {
  width: auto;
  margin-bottom: 0;
  margin-left: 10px;
}
/* line 45, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #legend table tr td {
  padding: 2.5px 5px;
  border: 0;
  vertical-align: middle;
}
/* line 49, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #legend table tr td .indicator {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}
/* line 54, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #legend table tr td i {
  color: black;
}
/* line 57, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #legend table tr td strong {
  font-size: 1.2rem;
}
/* line 64, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #filter {
  display: none;
}
/* line 66, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #filter > ul {
  padding-left: 15px;
}
/* line 68, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #filter > ul > li {
  font-size: 1.2rem;
  font-weight: bold;
  display: table;
  padding: 5px 0;
}
/* line 73, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #filter > ul > li input {
  display: table-cell;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
/* line 78, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #filter > ul > li ul {
  padding-left: 15px;
}
/* line 80, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li #filter > ul > li ul li {
  font-weight: 400;
  padding: 2px 0;
}
/* line 88, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list > ul li span {
  text-indent: 5px;
  font-weight: bold;
}
/* line 94, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
/* line 99, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse tr td {
  font-size: 1.3rem;
  line-height: 1.3rem;
}
/* line 106, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse thead tr td:nth-child(2),
.indicators-list .analyse thead tr td:nth-child(3),
.indicators-list .analyse tbody tr td:nth-child(2),
.indicators-list .analyse tbody tr td:nth-child(3) {
  text-align: center;
}
/* line 113, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse thead tr td {
  color: gray;
}
/* line 120, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse tbody tr td {
  width: 25%;
  padding: 3px 0;
}
/* line 123, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse tbody tr td .progress {
  padding: 0 10px;
}
/* line 127, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse tbody tr td:nth-child(4) {
  border-top: 0;
  width: 50px;
  vertical-align: middle;
  padding: 0 5px;
  align: center;
}
/* line 136, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse tbody tr:last-child td {
  border-bottom: 1px solid #ddd;
}
/* line 139, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .analyse tbody tr:last-child td:nth-child(4) {
  border-bottom: 0;
}
/* line 145, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion {
  width: 100%;
  float: left;
  overflow: hidden;
}
/* line 149, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .title {
  margin: 5px 0;
}
/* line 151, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .title span {
  font-size: 1.6rem;
  color: lightgreen;
}
/* line 156, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .detail-description-btns {
  padding: 10px 0;
  width: 100%;
  float: left;
  overflow: hidden;
}
/* line 161, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .detail-description-btns button {
  height: 25px;
  float: left;
  border-radius: 3px;
}
/* line 166, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .detail-description-btns #detail-description-btn {
  background-color: #3185FF;
  margin-right: 10px;
  color: #fff;
}
/* line 170, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .detail-description-btns #detail-description-btn i {
  color: #fff;
}
/* line 174, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .detail-description-btns #recomendation-btn {
  background-color: #FFF;
  border: 1px solid lightgray;
  color: #000;
}
/* line 178, ../../sass/Pages/index/partials/_indicators-list.scss */
.indicators-list .conclusion .detail-description-btns #recomendation-btn i {
  color: #000;
}

/* line 1, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer {
  overflow: hidden;
  float: left;
  width: 100%;
  height: 10%;
}
/* line 6, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer .site-nav {
  width: 100%;
  float: left;
  height: 50%;
  overflow: hidden;
  padding: 5% 0;
}
/* line 12, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer .site-nav ul {
  width: 100%;
}
/* line 14, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer .site-nav ul li {
  display: inline !important;
}
/* line 16, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer .site-nav ul li a {
  color: #777;
  margin-right: 10px;
}
/* line 20, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer .site-nav ul li a:first-child {
  margin-left: 10px;
}
/* line 26, ../../sass/Pages/index/partials/_site-footer.scss */
.site-footer footer {
  height: 50%;
  width: 100%;
  float: left;
  padding: 5px 10px;
  font-size: 1.1rem;
  color: #777;
}

/* line 1, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list {
  padding: 10px;
}

/* line 4, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .title {
  width: 100%;
  float: left;
  text-transform: uppercase;
  color: #373737;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}

/* line 13, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .add-btn {
  padding: 5px;
  display: block;
  border-radius: 4px;
  float: left;
  border: 1px solid gray;
  color: #818181;
  cursor: pointer;
}

/* line 22, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .add-btn span {
  margin-right: 5px;
}

/* line 25, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group {
  margin-top: 10px;
  width: 100%;
  float: left;
  border-radius: 0;
}

/* line 31, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item {
  background-color: #F9F9F9;
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  z-index: 0;
}

/* line 40, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .remove,
.areas-list-block .places-list .list-group .list-group-item .edit {
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  z-index: 999;
  display: table;
}

/* line 51, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .remove i,
.areas-list-block .places-list .list-group .list-group-item .edit i {
  color: #fff;
  font-size: 1.3rem;
  display: table-cell;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 59, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .remove {
  top: -13px;
  right: 5px;
}

/* line 63, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .edit {
  top: -13px;
  right: 35px;
}

/* line 67, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .area-info {
  overflow: hidden;
  position: relative;
  float: left;
}

/* line 72, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .area-info > i {
  color: #F0C10E;
  float: left;
  margin-right: 10px;
}

/* line 78, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .area-info ul li strong {
  padding-right: 5px;
}

/* line 83, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .area-info ul {
  float: left;
  color: #909090;
}

/* line 87, ../../sass/Pages/index/partials/_areas-list-block.scss */
.areas-list-block .places-list .list-group .list-group-item .area-info ul li:first-child {
  font-size: 1.3rem;
  color: #000;
}

/* line 9, ../../sass/Pages/index.scss */
.search-container {
  height: 100%;
  width: 410px;
  position: fixed;
  overflow: hidden;
  border-right: 1px solid lightgray;
}
