.areas-list-block {
    background-color: #F9F9F9;
    width: 400px;
    float: left;
    height: 100%;
    border-right: 2px solid #266C95;
    position: fixed;
    overflow-y: scroll;
    .places-list {
        padding: 10px;
        .title {
            width: 100%;
            float: left;
            text-transform: uppercase;
            color: #373737;
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .add-btn {
            padding: 5px;
            display: block;
            border-radius: 4px;
            float: left;
            border: 1px solid gray;
            color: #818181;
            span {
                margin-right: 5px;
            }
        }
        .list-group {
            margin-top: 10px;
            width: 100%;
            float: left;
            border-radius: 0;
            .list-group-item {
                position: relative;
                display: table;
                width: 100%;
                margin-bottom: 20px;
                .remove,
                .edit {
                    position: absolute;
                    background-color: #000;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    z-index: 999;
                    display: table;
                    i {
                        color: #fff;
                        font-size: 1.6rem;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                .remove {
                    top: -13px;
                    right: 5px;
                }
                .edit {
                    top: -13px;
                    right: 35px;
                }
                .area-info {
                    overflow: hidden;
                    position: relative;
                    float: left;
                    > i {
                        color: #F0C10E;
                        float: left;
                        margin-right: 10px;
                    }
                    ul {
                        float: left;
                        li:first-child {
                            font-size: 1.6rem;
                            color: #000;
                        }
                        color: #909090;
                    }
                }
            }
        }
    }
}
